body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#conteiner{
    text-align: center;
    padding: 1rem;
    border: 1px solid silver;
}
#post{
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-size: 20px;

}

#cabesera{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 40px;
    background-color: rgb(117, 117, 117);
    padding: 1px;
    margin: 0 auto;
}